header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 12px 20px;
  gap: 16px;
  flex-wrap: wrap; /* allow wrapping on very small viewports */
  box-sizing: border-box;
}

/* The styling for the group of 3 buttons */
.header-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 0; /* min width allows buttons to shrink - allowing items to shrink smaller than their content if needed to fit the container */
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px 14px; 
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: 44px;
  box-sizing: border-box;
}

/* nav buttons */
.main-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}


/* middle group (3 buttons) */
.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto; /* push the whole group to the far right */
  gap: clamp(16px, 7vw, 64px); /* increased responsive spacing between nav and user groups */
  flex: 0 0 auto;
}

/* this is the right group (2 buttons) */
.user-buttons {
  /* margin-left: auto;  */
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 0 0 auto;
  
}

.logo {
  flex: 0 0 auto;
  margin-right: 0;
}

/* this removes the defualt button style */
.icon-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
/* this is the image inside the button */
.icon-btn img {
  width: auto;
  height: auto;
  display: block;
}

/* Placing the responsive functions to remind me to fill them later*/
@media (max-width: 900px) {

}

@media (max-width: 520px) {

}